<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Añadir a mis eventos</h2>
	</div>
<form class="form-horizontal">
<!-- Form Name -->
<h3>The Maze Runner</h3>
<img src="../assets/images/estreno1.jpg" alt="estreno1" width="170" height="200">


  </div>


<!-- Select Basic -->
<div class="sinopsis">
  <p>Sinopsis</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="servidor">Disponible en:</label>
  <div class="col-md-6">
    <select id="servidor" name="servidor" class="form-control">
      <option value="Servidor 1">Cinépolis Forúm Buenavista</option>
      <option value="Servidor 2">Cinépolis Diana</option>
      <option value="Servidor 2">Cinemex Real</option>
      <option value="Servidor 2">Cinépolis Centro Telmex</option>
      <option value="Servidor 2">Cinemex Patriotismo</option>
    </select>
  </div>
</div>
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="plan_max_limit_upload_rx">Fechas:</label>
  <div class="col-md-6">
    <select id="plan_max_limit_upload_rx" name="plan_max_limit_upload_rx" class="form-control">
      <option value="56k">2 de Febrero (estreno)</option>
      <option value="56k">3 de Febrero</option>
      <option value="56k">4 de Febrero</option>
      <option value="56k">9 de Febrero</option>
      <option value="56k">10 de Febrero</option>
    </select>
  </div>
</div>
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="plan_max_limit_download_tx">Horarios:</label>
  <div class="col-md-6">
    <select id="plan_max_limit_download_tx" name="plan_max_limit_download_tx" class="form-control">
      <option value="56k">09:00</option>
      <option value="56k">12:00</option>
      <option value="56k">15:30</option>
      <option value="56k">19:30</option>
      <option value="56k">22:00</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="plan_descripcion">¿Invitar a un amigo?</label>
  <div class="col-md-6">
  <input id="plan_descripcion" name="plan_descripcion" type="text" placeholder="Descripción" class="form-control input-md" required="">
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="plan_activo">¿Deseas reservar?</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="plan_activo-0">
      <input type="checkbox" name="plan_activo" id="plan_activo-0" value="1">
      Si
    </label>
    <label class="checkbox-inline" for="plan_activo-1">
      <input type="checkbox" "plan_activo" id="plan_activo-1" value="0">
      No
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">

  <div class="col-md-6">
    <button class="btn btn-primary">Agregar</button>
  </div>
</div>


</form>



</body>
</html>
