<!-- Suelta tus manos y tu mente para solucionar este reto -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Home :: AtMove</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/home.css">


<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Buscar..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <p class="dropdown-toggle btn-settings fa fa-user-o fa-2x" data-toggle="dropdown">
            <span class="caret"></span></p>
            <ul class="dropdown-menu">
              <li><a href="profile.html">Perfil</a></li>
              <li><a href="#">Configuración</a></li>
              <li><a href="#">Eventos</a></li>
              <li><a href="../index.html">Cerrar Sesión</a></li>
           </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well well-profile">
      <div class="well well-info">
        <p><a href="#">Kartea</a></p>
        <img src="http://static1.bellezaextraordinaria.cl/articles/6/10/07/6/@/85251-conoce-los-principales-consejos-para-los-article_thumb_medium-2.jpg" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://linkedin.com/in/user">LinkedIn</a></li>
            <li><a href="https://google.com/user">Google +</a></li>
            <li><a href="https://www.facebook.com/user">Facebook</a></li>
            <li><a href="https://coderbits.com/user">Coderbits</a></li>
            <li><a href="http://bootsnipp.com/user">BootSnips</a></li>
            <li><a href="http://domain.com">Website</a></li>
          </ul>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>¡Hola Kartea!</strong></p>
        Tienes una nueva invitación para asistir el día de hoy a la función de "Avengers" a las 19:hrs en Cinemex Sur
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>¡Hola Kartea!</strong></p>
        Tienes una nueva invitación para asistir el día de hoy a la función de "Blade Runner" a las 19:hrs en Cinemex Sur
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="text-left">
            <div class="panel-body">
              <div class="form-group">
                <label for=" Email1msg">¡Dinos cómo te sientes y te diremos que película ver!</label>
                <select class="form-control">
                    <option>...</option>
                    <option>Nostalgico</option>
                    <option>Moderno</option>
                    <option>Aventurero</option>
                    <option>Emocional</option>
                </select>
                <button class="btn btn-info pull-right">¡Recomiendame!</button>
                <hr>
                <label for=" Email1msg">¡Haz tu próxima reseña!</label>
                <textarea class="form-control" rows="5"></textarea>
                <label class="checkbox-inline">

                  <input type="checkbox" id="inlineCheckbox1" value="option1"> *
                  </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="option2"> **
                  </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> ***
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option4"> ****
                </label>
              </div>
              <button type="submit" class="btn btn-info pull-left">Enviar</button>
              <input class="btn btn-info pull-right" id="file" type="file" accept="image/gif, image/jpeg, image/png">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Brenda</p>
           <img src="http://dummyimage.com/100x100" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
            <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Gaby</p>
           <img src="http://dummyimage.com/100x100" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
            <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Dani</p>
           <img src="http://dummyimage.com/100x100" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
            <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Montse</p>
           <img src="http://dummyimage.com/100x100" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
            <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Comienza la última columna-->
<div class="col-sm-2 well column">
  <div class="thumbnail">
    <h4><strong>Estrenos Febrero</strong></h4>
    <section id="pantalla1">
      <img src="../assets/images/estreno1.jpg" alt="estreno1" width="130" height="170">
      <p><strong>The Maze Runner</strong></p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <p>2 de Febrero</p>
      <p>Asistirán 15</p>
      <a href="agregar.html" class="asistir">Añadir</a>
    </section> <br>
    <section id="pantalla2">
      <img src="../assets/images/estreno2.jpg" alt="estreno2" width="130" height="170">
      <p><strong>El Pequeño Vampiro</strong></p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <p>2 de Febrero</p>
      <p>Asistirán 5</p>
      <a href="agregar.html" class="asistir">Añadir</a>
    </section><br>
    <section id="pantalla3">
      <img src="../assets/images/estreno3.jpg" alt="estreno3" width="130" height="170">
      <p><strong>15:17 París</strong></p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <p>9 de Febrero</p>
      <p>Asistirán 8</p>
      <a href="agregar.html" class="asistir">Añadir</a>
    </section><br>
    <section id="pantalla4">
      <img src="../assets/images/estreno4.jpg" alt="estreno4" width="130" height="170">
      <p><strong>Lady Bird</strong></p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <p>16 de Febrero</p>
      <p>Asistirán 26</p>
      <a href="agregar.html" class="asistir">Añadir</a>
    </section><br>
    <section id="pantalla5">
      <img src="../assets/images/estreno5.jpg" alt="estreno5" width="130" height="170">
      <p><strong>Musa</strong></p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <p>23 de Febrero</p>
      <p>Asistirán 18</p>
      <a href="agregar.html" class="asistir">Añadir</a>
    </section>
  </div>
  <div class="well">
    <p>Estrenos Pasados</p>
  </div>
  <div class="well">
    <p>ADS</p>
  </div>
</div>
</div>
</div>


<!--Comienza footer-->

<footer class="container-fluid text-center">
<p>&copy; Registro 2018 por
<a href="https://atmovie.com">AtMovie</a>. Diseñado por <a href="https://twitter.com/atmovie">Abril y Karina</a>
</p>
</footer>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/app.js"></script>




</body>
</html>
