<!-- Suelta tus manos y tu mente para solucionar este reto -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>AtMove</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Social-Network</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.html">Home</a></li>
        <li><a class="fa fa-inbox fa-2x" href="#"></a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Buscar..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <p class="dropdown-toggle btn-settings fa fa-user-o fa-2x" data-toggle="dropdown">
            <span class="caret"></span></p>
            <ul class="dropdown-menu">
              <li><a href="#">Configuración</a></li>
              <li><a href="#">Configuración</a></li>
              <li><a href="#">Eventos</a></li>
              <li><a href="../index.html">Cerrar Sesión</a></li>
           </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Profile section -->

<div class="container-fluid">
  <div class="row panel">
    <div class="col-md-4 bg_blur">
    </div>
        <div class="col-md-8  col-xs-12">
           <img src="http://static1.bellezaextraordinaria.cl/articles/6/10/07/6/@/85251-conoce-los-principales-consejos-para-los-article_thumb_medium-2.jpg" class="img-thumbnail picture hidden-xs" />
           <img src="http://static1.bellezaextraordinaria.cl/articles/6/10/07/6/@/85251-conoce-los-principales-consejos-para-los-article_thumb_medium-2.jpg" class="img-thumbnail visible-xs picture_mob" />
           <div class="header">
                <h1>Kartea</h1>
                <h4>UX Designer</h4>
                <span>
                  Hola, Mi nombre es Kartea y mis intereses son...
                </span>
                <div class="card-likes">
                <p><a href="#">Generos de interes</a></p>
                <p>
                  <span class="label label-default">Ciencia Ficción</span>
                  <span class="label label-primary">Drama</span>
                  <span class="label label-success">Gore</span>
                  <span class="label label-info">Terror</span>
                  <span class="label label-warning">Documentales</span>
                  <span class="label label-danger">Comedia</span>
                </p>
      </div>
           </div>
        </div>
    </div>

  <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12 about-info">
            <div class="col-md-4 col-xs-4 well2"><i class="fa fa-plus fa-lg"></i> add</div>
            <div class="col-md-4 col-xs-4 well2"><i class="fa fa-star-half-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well2"><i class="fa fa-street-view fa-lg"></i> 26</div>
        </div>
    </div>
</div>

<!-- Amigos con los que ha salido -->

<section id="friends">
  <div class="friends-info">
    <img src="http://img.thedailybeast.com/image/upload/c_fill,h_200,w_200,x_0,y_0/v1490013610/author/shire-emily.png" alt="profile-sample6" />
    <div>
      <h3>Viri Montoya</h3>
      <p>5 encuentros</p>
      <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"> <i class="ion-social-instagram-outline"></i></a>
        <a href="#"> <i class="ion-social-github"></i></a>
      </div>
      <button type="button" class="btn btn-me">Reúnanse!</button>
    </div>
  </div>
  <div class="friends-info hover"><img src="http://img.thedailybeast.com/image/upload/c_fill,h_200,w_200,x_0,y_0/v1489779140/author/150407-kate-briquelet-author.jpg" alt="profile-sample5" />
    <div>
      <h3>Brenda Milián</h3>
      <p>Asistio a Cine Lumier</p>
      <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"> <i class="ion-social-instagram-outline"></i></a>
        <a href="#"> <i class="ion-social-github"></i></a>
      </div>
      <button type="button" class="btn btn-me">Reúnanse!</button>
    </div>
  </div>
  <div class="friends-info"><img src="https://hips.hearstapps.com/rover/profile_photos/3fe5a8d9-ce7d-4cef-a5a7-cbd57340547e_1504023894.jpg?fill=1:1&resize=200:*" alt="profile-sample4" />
    <div>
      <h3>Gaby Colin</h3>
      <p>Asistio a Cine Lumier</p>
      <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"> <i class="ion-social-instagram-outline"></i></a>
        <a href="#"> <i class="ion-social-github"></i></a>
      </div>
      <button type="button" class="btn btn-me">Reúnanse!</button>
    </div>
  </div>
  <div class="friends-info"><img src="https://hips.hearstapps.com/rover/profile_photos/190fc57a-b9e6-4999-95f0-245bb152c2b9.jpg?fill=1:1&resize=200:*" alt="profile-sample4" />
    <div>
      <h3>Frish Linh</h3>
      <p>Asistio a Cine Lumier</p>
      <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"> <i class="ion-social-instagram-outline"></i></a>
        <a href="#"> <i class="ion-social-github"></i></a>
      </div>
      <button type="button" class="btn btn-me">Reúnanse!</button>
    </div>
  </div>
</section>

<!-- Sección ranking películas -->

<div class="container">
    <div class="row">
    <div class="well">
        <h1 class="text-center">Películas que ha calificado</h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="https://images.stopgame.ru/games/logos/5314/godfather_the_game_the.jpg" alt="profile-pic" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Titulo de Pelicula </h4>
                    <p class="list-group-item-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 240 <small> votos </small></h2>
                    <button type="button" class="btn btn-info btn-lg btn-me" data-toggle="modal" data-target="#review">Califica Reseña</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Total 4.5 <small> / </small> 5 </p>
                </div>
          </a>
          <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="https://lh3.googleusercontent.com/3UuVMJKL37vpLHHRu10VMg0pBQfVfagOBMroPSBb1xE1FxtTk1NekaweVNXWbUm45DVmEOH4g_0wmqSIUVhSDmdcoP0gL_kEvUWFlKVrykN0bWGZL1EH0idlQw" alt="profile-pic" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Pelicula 2 </h4>
                    <p class="list-group-item-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 424 <small> votos </small></h2>
                    <button type="button" class="btn btn-info btn-lg btn-me" data-toggle="modal" data-target="#review">Califica Reseña</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Total 3.9 <small> / </small> 5 </p>
                </div>
          </a>
          <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="https://2.bp.blogspot.com/-1tzAPNel8ok/VJJSX2FUYMI/AAAAAAAAA5o/HP2ZDqM5tlU/w350-h250-c/harry%2Bpotter%2Band%2Bthe%2Bdeathly%2Bhallows%2Bpart%2B2.jpg" alt="profile-pic">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> List group heading </h4>
                    <p class="list-group-item-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 240 <small> votos </small></h2>
                    <button type="button" class="btn btn-info btn-lg btn-me" data-toggle="modal" data-target="#review">Califica Reseña</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Total 4.1 <small> / </small> 5 </p>
                </div>
          </a>
        </div>
        </div>
  </div>
</div>

<!-- Info Intereses -->

<div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-4">
   </div>
    <div class="col-md-3 col-sm-4">

    </div>
      <div class="col-md-3 col-sm-4">

      </div>
       <div class="col-md-3 col-sm-4">

       </div>
     </div>
   </div>



 <!-- Modal Review -->

 <div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="review" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>




<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/app.js"></script>




</body>
</html>
