<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link type="text/css" rel="stylesheet" href="../css/log-in.css">
      <title>Registro</title>
    </head>
    <body>
        <!--hero section-->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 mx-auto">
                        <div class="card border-none">
                            <div class="card-body">
                                <div class="mt-2 text-center">
                                    <h2>Crea tu cuenta</h2>
                                </div>
                                <p class="mt-4 text-white lead text-center">
                                    Regístrate para comenzar
                                </p>
                                <div class="mt-4">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" value="" placeholder="Ingresa tu correo">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" value="" placeholder="Ingresa tu contraseña">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="confirm-password" value="" placeholder="Confirma tu contraseña">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
                                    </form>
                                    <div class="clearfix"></div>
                                    <p class="content-divider center mt-4"><span>o</span></p>
                                </div>
                                <p class="mt-4 social-login text-center">
                                    <a href="#" class="btn btn-facebook"><em class="ion-social-facebook"></em></a>
                                    <a href="#" class="btn btn-twitter"><em class="ion-social-twitter"></em></a>
                                    <a href="#" class="btn btn-linkedin"><em class="ion-social-linkedin"></em></a>
                                    <a href="#" class="btn btn-google"><em class="ion-social-googleplus"></em></a>
                                </p>
                                <p class="text-center">
                                    ¿Ya tienes cuenta? <a href="../index.html">Inicia sesión ahora</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 mt-5 footer">
                        <p class="text-white small text-center">
                            &copy; Registro 2018 by
                            <a href="https://atmovie.com">AtMovie</a>. Designed by <a href="https://twitter.com/atmovie">@atmovie</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
